<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hx.edit.mapper.SxFileMapper">
    <insert id="addFile" parameterType="SxFile">
		insert into sx_file(proj_id,data,date,user_id) values (#{proj_id},#{data},#{date},#{user_id})
	</insert>
	<select id="getFile" parameterType="int" resultType="SxFile">
		SELECT * FROM sx_file WHERE proj_id=#{proId}
	</select>
	<update id="save" parameterType="SxFile">
		update sx_file set data=#{data},date=#{date} where proj_id=#{proj_id}
	</update>
	<select id="getDataIntoCheckout" parameterType="int" resultType="String">
		select data FROM sx_file WHERE proj_id=#{proId}
	</select>
</mapper>